services:
  # cassandra:
  #   image: 'cassandra:latest'
  #   environment:
  #     - 'CASSANDRA_DC=dc1'
  #     - 'CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch'
  #   ports:
  #     - '9042'
  # elasticsearch:
  #   image: 'docker.elastic.co/elasticsearch/elasticsearch:7.17.10'
  #   environment:
  #     - 'ELASTIC_PASSWORD=secret'
  #     - 'discovery.type=single-node'
  #     - 'xpack.security.enabled=false'
  #   ports:
  #     - '9200'
  #     - '9300'
  # mongodb:
  #   image: 'mongo:latest'
  #   environment:
  #     - 'MONGO_INITDB_DATABASE=mydatabase'
  #     - 'MONGO_INITDB_ROOT_PASSWORD=secret'
  #     - 'MONGO_INITDB_ROOT_USERNAME=root'
  #   ports:
  #     - '27017'
  mysql:
    image: 'mysql:latest'
    environment:
      - 'MYSQL_DATABASE=mydatabase'
      - 'MYSQL_PASSWORD=secret'
      - 'MYSQL_ROOT_PASSWORD=verysecret'
      - 'MYSQL_USER=myuser'
    ports:
      - '3307:3306'

#   postgres:
#     image: postgres:13
#     container_name: kong-postgres
#     environment:
#       POSTGRES_USER: kong
#       POSTGRES_DB: kong
#       POSTGRES_PASSWORD: kongpass
#     volumes:
#       - kong_data:/var/lib/postgresql/data
#     networks:
#       - kong-net

#   kong-migrations:
#     image: kong/kong:3.7
#     container_name: kong-migrations
#     depends_on:
#       - postgres
#     environment:
#       KONG_DATABASE: postgres
#       KONG_PG_HOST: postgres
#       KONG_PG_USER: kong
#       KONG_PG_PASSWORD: kongpass
#       KONG_PG_DATABASE: kong
#     command: kong migrations bootstrap
#     networks:
#       - kong-net

#   kong:
#     image: kong/kong:3.7
#     container_name: kong-gateway
#     depends_on:
#       - kong-migrations
#     environment:
#       KONG_DATABASE: postgres
#       KONG_PG_HOST: postgres
#       KONG_PG_USER: kong
#       KONG_PG_PASSWORD: kongpass
#       KONG_PG_DATABASE: kong
#       KONG_ADMIN_LISTEN: 0.0.0.0:8001
#       KONG_PROXY_LISTEN: 0.0.0.0:8000
#       KONG_ADMIN_GUI_URL: http://localhost:8002
#       KONG_LOG_LEVEL: info
#     ports:
#       - "8000:8000"
#       - "8001:8001"
#       - "8002:8002"
#     networks:
#       - kong-net

# networks:
#   kong-net:
#     driver: bridge

# volumes:
#   kong_data:
